# macOS
.DS_Store

# IDEs
.idea/
.vscode/
.settings/

# Terraform
*.tfstate
*.tfstate.backup
*.tfplan
.terraform/
.terraform.lock.hcl
terraform.tfstate.d/

# Jenkins temp folders
*@tmp/
workspace/
builds/

# Build / Release folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Executables
*.swf
*.air
*.ipa
*.apk

